{% extends 'base.html' %}

{% block head %} <title>Edit</title> {% endblock %}

{% block body %}

<hr>
<h2 class="display-4" >Edit Post</h2>
<form action="/posts/edit/{{post.id}}" method="POST">
    <label class="lead mb-2">Name</label> 
    <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name of the Post" value={{post.name}}>
    <br>
    <label class="lead mb-2" >Content</label>
    <textarea class="form-control" type="text" name="content" id="content" placeholder="Enter Content of the Post">{{post.content}}</textarea>
    <br>
    <input type="submit" value="Save" class="btn btn-primary">
</form>
<hr>

{% endblock %}