{% extends 'base.html' %}

{% block head %} <title>Posts</title> {% endblock %}



{% block body %} 

    <hr>
    <h2>Create New</h2>
    <form action="/posts" method="POST">
        Name:<input type="text" name="name" id="name">
        <br>
        Content:<input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Post">
    </form>
    <hr>


    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title" >{{ post.name }}</h1>
            <p class="card-text" >{{ post.content }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}